@font-face {
	font-family: 'Flaticon';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
		 url("../fonts/flaticon.woff") format("woff"),
		 url("../fonts/flaticon.ttf") format("truetype"),
		 url("../fonts/flaticon.svg") format("svg");
}

.noscroll {
	overflow: hidden;
}
