.flaticon(@font-size: 14px, @line-height: 1) {
	display: inline-block;
	font: normal normal normal @font-size/@line-height Flaticon;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.backface-visibility(@visibility){
	-webkit-backface-visibility: @visibility;
	   -moz-backface-visibility: @visibility;
			backface-visibility: @visibility;
}

.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow;
			box-shadow: @shadow;
}

.translate3d(@x; @y; @z) {
	-webkit-transform: translate3d(@x, @y, @z);
			transform: translate3d(@x, @y, @z);
}

.transition(@transition) {
	-webkit-transition: @transition;
		 -o-transition: @transition;
			transition: @transition;
}

.transition-duration(@duration) {
	-webkit-transition-duration: @duration;
		 -o-transition-duration: @duration;
			transition-duration: @duration;
}

.gradient-vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
	background-color: mix(@start-color, @end-color, 50%);
	background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Safari 5.1-6, Chrome 10+
	background-image: -o-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Opera 12
	background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down
}
