.slides {
	display: block;
	background: #222;
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
	z-index: 9;
	height: 200px;

	.maximize > & {
		overflow: visible;
		height: 100%!important;
		width: 100%!important;
	}

	&.drag li {
		.transition-duration(0);
	}

	li {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 0;
		text-align: center;
		white-space: nowrap;
		visibility: hidden;
		opacity: 0;

		.backface-visibility(hidden);
		.transition(~"transform .2s ease-in-out, opacity .2s ease-in-out");

		&:before {
			display: inline-block;
			content: "";
			height: 100%;
		}

		img {
			max-width: 100%;
			max-height: 100%;
			box-shadow: 0 5px 35px rgba(0, 0, 0, .5);
		}

		&:before, img {
			vertical-align: middle;
		}

		&.show {
			visibility: visible;
			opacity: 1;
			z-index: -1;

			& + li {
				visibility: visible;
				z-index: -2;
			}
		}
	}
}
