.toolbar {
	position: relative;
	font-size: 0;

	.gradient-vertical(#3e3e3e, #333);

	button {
		background: none;
		display: inline-block;
		width: 100% / 6;
		height: 48px;
		border: none;
		border-top: 1px solid #444;
		color: #aaa;

		.flaticon(24px);

		&:first-child {
			border-right: 1px solid #222;
		}

		+ button {
			border-left: 1px solid #444;
			border-right: 1px solid #222;
		}

		&:last-child {
			border-right: 0;
		}

		&:focus {
			outline: none;
		}

		&:active {
			background-color: rgba(0, 0, 0, 0.1);
			color: #eee;
		}

		&:disabled {
			color: #555;
		}

		&.btn-first:before {
			content: @icon-first;
		}

		&.btn-previous:before {
			content: @icon-previous;
		}

		&.btn-playback:before {
			content: @icon-play;

			.play > & {
				content: @icon-pause;
			}
		}

		&.btn-next:before {
			content: @icon-next;
		}

		&.btn-last:before {
			content: @icon-last;
		}

		&.btn-fullscreen:before {
			content: @icon-expand;

			.maximize > & {
				content: @icon-collapse;
			}
		}
	}

	.maximize > & {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 999;

		.backface-visibility(hidden);
		.translate3d(0, 48px, 0);

		.transition(~"transform 0.2s ease-in-out, opacity 0.2s ease-in-out");

		&.show {
			.translate3d(0, 0, 0);
		}

		@media (min-width: 560px) {
			width: 400px;
			margin-left: -200px;
			left: 50%;
			bottom: 20px;
			opacity: 0;
			border-radius: 4px;
			overflow: hidden;

			.box-shadow(~"0 2px 10px rgba(0, 0, 0, 0.5)");

			&.show {
				opacity: 1;
			}

			button {
				height: 48px;
				font-size: 24px;
			}
		}
	}

	@media (min-width: 960px) {
		button {
			height: 32px;
			font-size: 18px;
		}
	}
}
