@icon-spinner: "\e006";

@icon-expand: "\e001";

@icon-collapse: "\e004";

@icon-first: "\e005";

@icon-previous: "\e008";

@icon-pause: "\e002";

@icon-play: "\e003";

@icon-next: "\e007";

@icon-last: "\e000";
